/* GLOBAL STYLES. */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}
a {
    color: #262626;
    text-decoration: none;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: white;
    color: black;
    font-size: 15px;
    line-height: 1.5;
}
ul {
    list-style: none;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 20px;
    background: #262626;
    border: 0;
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}
.btn:hover {
    opacity: 0.9;
}
.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}
/* NAVIGATION. */
.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 20px 0;
    font-size: 13px;
}
.main-nav ul {
    display: flex;
}
.main-nav ul li {
    padding: 0 10px;
}
.main-nav ul li a {
    padding-bottom: 2px;
}
.main-nav ul li a:hover {
    border-bottom: 2px solid #262626;
}
.main-nav ul.main-menu {
    flex: 1;
    margin-left: 20px;
}
.main-nav .logo {
    height: 100%;
}
.text-light {
    color: white;
}
.text-light .btn {
    background: white;
    color: #262626;
}
/* SHOWCASE.  */
.showcase {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
    background: white url(../images/slide1.png) center center / cover no-repeat;
}
.showcase h2, .showcase p {
    margin-bottom: 10px;
}
.showcase .btn {
    margin-top: 10px;
    margin-bottom: 40px;
}
/* CARD SECTION 1. */
.home-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 40px;
}
.home-cards img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.home-cards h3 {
    margin-bottom: 5px;
}
.home-cards a {
    display: inline-block;
    padding-top: 10px;
    color: #0067b8;
    font-weight: bold;
    text-transform: uppercase;
}
.home-cards a:hover i {
    margin-left: 10px;
}
/* XBOX. */
.xbox {
    width: 100%;
    height: 350px;
    margin-bottom: 80px;
    background: white url(../images/xbox.png) center center / cover no-repeat;
}
.xbox .content {
    width: 40%;
    padding: 50px 0 0 30px;
}
.xbox .content p {
    margin: 10px 0 20px 0;
}
/* CARBON NEGATIVE. */
.carbon {
    width: 100%;
    height: 350px;
    background: white url(../images/carbon.jpg) center center / cover no-repeat;
}
.carbon .content {
    width: 55%;
    padding: 100px 0 0 30px;
}
.carbon .content p {
    margin: 10px 0 20px 0;
}
/* SOCIAL MEDIA. */
.social {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin: 30px 0 30px 0;
}
/* LINKS. */
.links {
    padding: 35px 0;
    background: #f2f2f2;
    color: #616161;
    font-size: 12px;
}
.links li {
    line-height: 2.8;
}
.links-inner {
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}
/* FOOTER. */
.footer {
    padding: 20px 0;
    background: #f2f2f2;
    color: #616161;
    font-size: 12px;
}
.footer div {
    display: flex;
    align-items: center;
    margin-bottom:  20px;
}
.footer div i {
    margin-right: 10px;
}
.footer li {
    margin-right: 30px;
    margin-bottom:  20px;
}
.footer ul {
    display: flex;;
    flex-wrap: wrap;
}
.footer-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 10px; */
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}